.text-linkedin{
    color: #0A66C2;
}
/* CSS */
.button-resume {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #4A42EA;
  
  padding: calc(.3em + var(--s)) calc(.9em + var(--s));
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-resume:hover,
.button-resume:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-resume:active {
  background: var(--color);
  color: #fff;
}

.nav-hover{
  font-size: 1.1rem;
  position: relative;
}
.nav-hover::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #0A66C2;
  transition: all ease 1s;
}
.nav-hover:hover::after{
  width: 100%;
}
.nav-hover:hover{
  color: #4A42EA;
}

/* .name-design{
  -webkit-text-stroke: 2px black;
  color: transparent;
} */


/* scrolling image */
.image-container {
  width: 28rem;
  height: 18rem;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: transform 7s ease-in-out;
}

.image-wrapper:hover img {
  transform: translateY(calc(-100% + 18rem));
}


.codeLink:hover{
  color: #4A42EA !important;
}

.btn-contact{
  background-color: #4A42EA;
  color: #fff;
}
.btn-contact:hover{
  background-color: #5e56f5;
  color: #fff;
}

/* theme icons */
.btn-primary{
  background-color: #4A42EA !important;
  color: white;
  font-size: 1.1rem;
}
.btn-primary:hover{
  background-color: #5e56f5 !important;
}

.icon-color{
  color: #4A42EA;
}
.text-color{
  color: #4A42EA;
}
.borderBottom{
  border-bottom: 2px solid rgb(244, 241, 241);
}

/* Scrool Bar Coustom Style Start*/
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #4A42EA;
  border-radius: 25px;
}
/* Scrool Bar Coustom Style End*/


/* loader */
.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';
  width: 50px;
  height: 50px;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: rotation 2s ease-in-out infinite;
}
.loader::after {
  border-color: #4A42EA;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 